@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.next-videos{
    @include site-padding-mobile;

    @include tablet {
        @include site-padding-tablet;
        width: 40%
    }
    @include desktop {
        padding: 0 1rem 0 1.5rem;
        border-left: 1px $primary-neutral solid;
        width: 20%;
        display: flex;
        flex-direction: column;
        padding-bottom:6rem;
      }
    &__title{
        @include heading-padding-mobile;
        color: $primary-neutral
    }
}