@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;

.description {
  @include site-padding-mobile;

  @include tablet {
    @include site-padding-tablet;
  }

  @include desktop {
    padding: 0;
    // padding-right:1rem;
  }

  &__title {
    @include divider-styling;
    @include page-header-mobile;
    padding: 16px 0;

    @include tablet {
      border: none;
    }
    @include desktop {
      @include page-header;
    }
  }

  &__container {
    @include divider-styling;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding: 0 0 8px 0;
    }
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--right {
      padding-right: 2rem;
      @include tablet {
        padding: 0;
      }

      @include desktop {
        margin-right: 2rem;
      }
    }

    @include tablet {
      flex-direction: row;
    }
  }
  &__channel {
  }

  &__stats-wrapper {
    display: flex;

    &--bottom {
      padding-top: 5rem;

      @include tablet {
        padding: 0;
      }
    }
  }

  &__icon {
    padding-right: 0.5rem;
  }
  &__stat {
    @include body-copy-mobile;
    color: $primary-neutral;

    @include tablet {
      padding: 0;
    }
    @include desktop {
      @include body-copy;
    }

    &--bottom {
      padding-top: 1rem;

      @include tablet {
        padding: 0;
      }
    }

    &--bold {
      color: $primary-dark;
    }

    &--tablet {
      @include tablet {
        padding-right: 3rem;
      }
    }
  }
  &__text {
    @include component-padding;
    @include body-copy-mobile;
    padding-top: 1rem;

    @include tablet {
      @include body-copy;
      padding-right: 2%;
    }

    @include desktop{
      font-size: 1rem;
      line-height: 24px;
      padding-bottom: 4rem;
    }
  }
}
