$primary-dark:#323232; // BrainFlix-Black
$secondary-dark:#000000; // BrainFlix-Darkblack

$primary-color:#0095FF; // BrainFlix-Blue
$secondary-color:#0065AD; // BrainFlix-DarkBlue

$primary-neutral:#AFAFAF; // Silver
$secondary-neutral:#E1E1E1; //Mercury

$primary-light:#FFFFFF; // White
$secondary-light:#FAFAFA; // Alabaster
