$primary-dark: #323232; // BrainFlix-Black
$secondary-dark: #000000; // BrainFlix-Darkblack

$primary-color: #0095ff; // BrainFlix-Blue
$secondary-color: #0065ad; // BrainFlix-DarkBlue

$primary-neutral: #afafaf; // Silver
$secondary-neutral: #e1e1e1; //Mercury

$primary-light: #ffffff; // White
$secondary-light: #fafafa; // Alabaster
