@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.videoItem {
  padding: 8px 0;
  height: 22vw;
  display: flex;
  text-decoration: none;

  @include tablet {
    max-height: 10vw;
  }

  @include desktop {
    max-height: 5vw;
    padding: 0.8rem 0;
  }

  &__image-wrapper {
    width: 38%;

    @include tablet {
      width: 45%;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-left: 1rem;
    text-overflow: ellipsis;
  }

  &__image {
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;
  }

  &__title {
    font-size: 0.8rem;
    text-overflow: ellipsis;

    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__channel {
    padding-bottom: 0.2rem;
    font-size: 0.8rem;

    @include tablet {
      font-size: 1rem;
    }
  }
  
  &__link {
    text-decoration: none;
    color: $primary-dark;
  }
}
