@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.videoItem {
  margin: 1rem 0;
  height: 4rem;
  display: flex;
  text-decoration: none;

  @include tablet {
    max-height: 10vw;
  }

  @include desktop {
    height: 4.5rem;
    margin: .5rem 0;
  }

  &__image-wrapper {
    width: 7rem;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-left: 1rem;
  }

  &__image {
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 0.4rem;
    height: 100%;
    width: 100%;
  }
  &__title {
    font-size: .9rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  &__channel {
    padding-bottom: 0.2rem;
    font-size: .9rem;

    @include tablet {
      font-size: 1rem;
    }
    
  }
  
  &__link {
    text-decoration: none;
    color: $primary-dark;
  }
}
