@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.post {
  @include site-padding-mobile;
  @include component-padding-mobile;
  @include divider-styling;

  @include desktop {
    padding-left: 0;
  }
  
  &__count {
    @include component-padding-mobile;
    font-weight: 700;

    @include tablet{
      @include component-padding;
    }
    
  }
  &__wrapper {
    display: flex;
    width: 100%;

    @include tablet {
      justify-content: space-between;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.8rem;
    padding-bottom: 0.5rem;

    @include desktop {
      margin-right: 3rem;
    }
  }

  &__image {
    @include avatar-styling;
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    background-size: cover;
    background-position: center;
    background-position-x: -5px;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin-bottom: 0.2rem;
    margin-top: 1.4rem;
  }

  &__form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 90%;

    @include tablet {
      width: 100%;
    }
  }

  &__label {
    @include labels-buttons;
    padding-bottom: 2px;
    color: $primary-neutral;
    font-weight: 600;
  }

  &__comment-wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
      height: 40px;
    }
  }

  &__input {
    outline: none;
    box-sizing: border-box;
    min-height: 30vw;
    width: 100%;
    resize: none;
    margin-bottom: 1rem;
    background-color: $secondary-light;
    padding: 12px;
    border: 1px $secondary-neutral solid;
    border-radius: 4px;

    @include tablet {
      min-height: 100%;
    }

    &::placeholder {
      color: $primary-dark;
    }
  }

  &__button {
    @include button-styling;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 0;
    font-weight: 700;

    @include tablet {
      width: 20%;
      margin-left: 3%;
    }
  }
  &__button-image {
    position: absolute;
    left: 10px;
  }
}
