@use "../styles/partials/mixins" as *;

.header {
  @include component-padding-mobile;
  @include site-padding-mobile;
  display: flex;
  flex-direction: column;

  &__logo {
    @include logo-styling;
    padding: 1rem 0;
  }

  &__search {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    @include form-styling;
    background-image: url(../assets/Images/search.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    width: 90%;
    padding: 0 0 0 2.2rem;
    max-height: 1rem;
  }
  &__avatar {
    @include avatar-styling;
    background-size: cover;
    background-position: center;
    background-position-x: -5px;
    background-image: url(../assets/Images/Mohan-muruge.jpg);
    margin-left: 1rem
  }
  &__button {
    @include button-styling;
    background-image: url(../assets/Images/upload.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    font-weight: 700;
    padding: 1rem 0;
  }
}
