@use "../../styles/partials/mixins" as *;

.header {
  @include component-padding-mobile;
  @include site-padding-mobile;
  display: flex;
  flex-direction: column;

  &__logo {
    @include logo-styling;
    padding: 1rem 0;
  }

  &__search {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    @include form-styling;
    background-image: url(../../assets/Images/search.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    min-width: 70%;
    width: 100%;
    padding: 0 0 0 2.2rem;
    max-height: 1rem;
    margin-right: 1rem
  }
  &__avatar {
    @include avatar-styling;
    background-size: cover;
    background-position: center;
    background-position-x: -5px;
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
    
  }
  &__button {
    @include button-styling;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 1rem 0;
  }

  &__button-container{
  }

  &__upload{
    position: absolute;
    left: 10px;
  }
  &__button-text{
   
  }
}
