@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;

.upload {
  @include site-padding-mobile;

  @include tablet {
    @include site-padding-tablet;
    border-top: 1px solid $secondary-neutral;
  }

  @include desktop {
    padding: 0;
    width: 100%;
    margin: auto;
  }

  &__title {
    @include page-header-mobile;
    padding: 1.5rem 0;

    @include tablet {
      @include page-header;
      @include divider-styling;
      @include heading-padding;
    }

    @include desktop {
      padding-left: 10%;
      border-bottom: none;
    }
  }

  &__desktop-wrapper {
    @include desktop {
      display: flex;
      width: 100%;
    }
  }

  &__image-wrapper {
    @include desktop {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 80%;
      margin-right: 1rem;
      padding-bottom: 2rem;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__subheader {
    @include component-padding-mobile;
  }

  &__image {
    @include default-border-radius;
    margin-top: 4px;
    margin-bottom: 16px;
    width: 100%;

    @include tablet {
      width: 50%;
      height: 25vw;
    }

    @include desktop {
      height: 10.6rem;
      width: 20rem;
      margin-bottom: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include desktop {
      margin: auto;
      width: 80%;
      border-top: 1px solid $secondary-neutral;
    }
  }

  &__label {
    @include labels-buttons;
    font-size: 0.9rem;
    color: $primary-neutral;

    &--tablet {
      @include tablet {
        padding-top: 36px;
      }
    }

    &--desktop {
      @include desktop {
        padding-top: 36px;
      }
    }

    
  }

  &__title-input {
    @include default-border-radius;
    margin-top: 4px;
    margin-bottom: 1rem;
    background-color: $secondary-light;
    outline: none;
    border: 1px solid $secondary-neutral;
    padding: 12px;

    &:focus {
      border: 2px solid $primary-color;
    }

    @include desktop {
      width: 100%;
    }

    &::placeholder {
      color: $primary-dark;
    }
    &--error{
      @include form-error-styling
    }
  }

  &__description-input {
    @extend .upload__title-input;
    min-height: 20vw;
    resize: none;

    @include tablet {
      min-height: 9vh;
      margin-bottom: 2rem;
    }
    &--error{
      @include form-error-styling
    }
  }

  &__button-publish {
    @include button-styling;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem;

    @include tablet {
      display: none;
    }

    &--tablet {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include tablet {
      border-top: 1px solid $secondary-neutral;
      padding-top: 1rem;
    }
  }

  &__icon {
    position: absolute;
    left: 10px;
  }

  &__button-text {
    @include labels-buttons;
  }
  
  &__cancel {
    @include labels-buttons;
    cursor: pointer;
    margin: 1rem auto;
    text-align: center;
    color: $primary-color;
    border: none;
    font-weight: 700;

    @include tablet {
      margin: 0 10% 0;
    }

    &:hover {
      color: $secondary-color;
    }
  }
}
