@use "../../styles/partials/mixins" as *;
.activeVideo {
  @include desktop {
    margin-left: 10%;
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 5rem;
  }
}
