@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.comment {
  @include site-padding-mobile;
  @include component-padding-mobile;
  @include divider-styling;
  position: relative;
  padding-top: 16px;
  display: flex;

  @include tablet {
    @include component-padding;
    padding-left:0 ;
    padding-right: 0;
    margin: 0 36px;
    padding-top: 24px;
  }

  @include desktop {
    @include site-padding-tablet;
    margin: 0;
    padding-left: 0;
  }

  &:last-child {
    @include desktop {
      border: none;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.8rem;
    padding-bottom: 0.5rem;

    @include desktop {
      margin-left: 1rem;
      margin-right: 2rem;
    }
  }

  &__image {
    @include avatar-styling;
    min-width: 36px;
    min-height: 36px;

    &--active {
      background-size: cover;
      background-position: center;
      background-position-x: -5px;
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
    }
  }

  &__info-container {
    width: 100%;
  }

  &__user-wrapper {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    @include subheader-mobile;
    font-weight: 700;
    color: $primary-dark;
  }

  &__date {
    @include body-copy-mobile;
    color: $primary-neutral;
  }

  &__text {
    @include body-copy-mobile;
  }
  
  &__delete {
    @include site-padding-mobile;
    cursor: pointer;
    position: absolute;
    height: 1.4rem;
    bottom: 0.5rem;
    right: -5px;
  }
}
